/*
 * This file contains everything that makes munin responsive, and is included in style-2.1
 */

/* Small devices (tablets, smartphones) */
@media (max-width: 768px) {
	.hide-mobile { display: none!important; }

	.header {
		border-left: 0;
		border-right: 0;
		border-radius: 0;
		padding: 5px;

		.singleLine { margin-top: 0; }

		.filter {
			float: none;
			display: inline-block;
			margin-top: 0;
		}
		.logo {
			width: 19px;
			margin-top: 0;
		}
		h1 { margin: 10px 0; }
	}

	/* Different nav */
	#main {
		display: block;
		min-height: 0;
	}
	.navContainer {
		display: block;
		width: 100%;
		max-width: 500px;
		margin: auto;

		#nav {
			display: none;
			border-right: 0;
			padding: 0;
			margin-top: -4px;

			h2 {
				text-align: center;
				padding-left: 0;
			}
			ul li {
				text-align: center;
				padding-right: 0;
			}
			.timerangesList { opacity: 1; }
		}

		#navToggle,
		#nav {
			-moz-box-shadow: 0 0 2px 0 #777777;
			-webkit-box-shadow: 0 0 2px 0 #777777;
			-o-box-shadow: 0 0 2px 0 #777777;
			box-shadow: 0 0 2px 0 #777777;
			filter: progid:DXImageTransform.Microsoft.Shadow(color=#777777, Direction=NaN, Strength=2);
		}

		#navToggle {
			display: block;
			padding: 10px 15px;
			background-color: rgba(0, 0, 0, 0.05);
			font-weight: bold;
			cursor: pointer;
			font-family: sans-serif;
		}
		#navToggle:after {
			content: "+";
			float: right;
			font-size: 18px;
			font-weight: normal;
			margin-top: -2px;
			color: #797979;
		}
		#navToggle.expanded:after {
			content: "-";
			margin-top: -4px;
		}
	}

	#content {
		display: block;
		padding: 1em 0 1em 0;
		width: 100%;

		h2, h3 {
			margin-left: 20px;
		}
	}

	/* Graphs */
	.graph {
		max-width: 97%;
		display: block;
		margin: auto;
	}

	/* Overview */
	ul.groupview {
		margin: 20px 15px!important;

		.categories {
			padding-top: 0;
			clear: both;
			margin-left: 10px;
		}
	}

	.timeRangeSwitchContainer { top: 0; }
}

/* Medium devices */
@media (max-width: 992px) {
}

/* Large devices (large desktops) */
@media (max-width: 1200px) {
}
