# Backups
*~
*.bak

# Perl Builded files
/blib/
/Build
/build/
/_build/
/MANIFEST
/META.json
/META.yml
/MYMETA.json
/MYMETA.yml

# Generated Version of Munin.pm.in
lib/Munin.pm

# Dev Sandbox
/sandbox/
