language: perl
perl:
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
branches:
 only:
  - stable-2.0
  - devel
  - master
  - travis-container
addons:
  apt:
    packages:
      - devscripts
notifications:
  email: false
  irc:
    on_success: change # no need for spam
    on_failure: always
    channels:
      - "irc.oftc.net#munin"
    template:
      - "%{repository} (%{branch} - %{commit} : %{author}): %{message}"
      - "Build details: %{build_url}"
matrix:
  # we don't need to continue any build when 1 test is failing.
  fast_finish: true

env:
  - TEST_MEDIUM=1 HARNESS_OPTIONS=j2

before_install:
  cpanm -n Devel::Cover::Report::Coveralls

script:
  perl Build.PL && ./Build build && cover -test -report coveralls

# Using the container-based infrastructure
sudo: false
