Here's a summary of all the options one can use in the configuration-file:

Top-level:
	dbdir <dir>
	htmldir <dir>
	logdir <dir>

	indextmpl <template-file>
	domaintmpl <template-file>
	nodetmpl <template-file>
	servicetmpl <template-file>
	htaccess <htaccess-file>

	nsca <nsca-binary>
	nsca_config <nsca-config>
	nsca_server <name-of-server>

Domain-level (<domain>):
	None.

Node-level (<node>):
	address <address>
	fetch_data <1|0>    # Deprecated. Use 'update'
	update <no|yes>
	graph <no|yes>

Service-level (<client>):
	create_args <args-to-rrdcreate>
	graph_args <args-to-rrdgraph>
	graph_title <title>
	graph_vlabel <Y-axis-label>
	graph_order <fields>
	graph <no|yes>
	update <no|yes>
	fetch_data <0|1>    # Deprecated. Use 'update'
	host_name <name-of-host>

Field-level (fieldname.*):
	label <label>
	type <gauge|counter|derive|absolute> [GAUGE]
	draw <line[123]|area|stack> [line2]
	graph <yes|no>
	skipdraw <0|1>      # Deprecated. Use 'graph'
	min <value>
	max <value>
	cdef <rpn-statement>
	negative <fieldname>
	warning <max|:max|min:|min:max>
	critical <max|:max|min:|min:max>
	hrule <value>
	filename <full-path-to-rrd-file>
	rrdfield <rrd-file-internal-field>

I think I haven't forgotten anything.

Also, today the config looks something like:

<domain blatti.boo>
	<node bing.blatti.boo>
		address 324.423.234.42
		<service cpu>
			...
		</service>
	</node>
</domain>

This can just as well be written as:

<domain>
	<blatti.boo>
		<node>
			<bing.blatti.boo>
				address 324.423.234.42
				<service>
					<cpu>
						...
					</cpu>
				</service>
			</bing.blatti.boo>
		</node>
	</blatti.boo>
</domain>


More extensive:

Top-level:
	dbdir <dir>
		The top-level *.rrd-directory. Where directories are created to store
		the .rrd-files in.
	htmldir <dir>
		The top-level *.html/*.png-directory. Where directories are made to
		store the graphs.
	logdir <dir>
		Where the lrrd-*-programs create their log files.

	indextmpl <template-file>
	domaintmpl <template-file>
	nodetmpl <template-file>
	servicetmpl <template-file>
		All these are templates for the html-pages that will be created under
		"htmldir".

	nsca <nsca-binary>
	nsca_config <nsca-config>
	nsca_server <name-of-server>
		The "nsca*"-options are used to warn Nagios about broken "warning" and
		"critical"-limits. They will be replaced with more general options
		soon, for those who want to send out warnings using other methods..

Domain-level (<domain>):
	None.

Node-level (<node>):
	address <address>
		The address that lrrd-server will use to connect to the lrrd-client on
		"node". Typically 'localhost', a fully qualified domain name, or an ip
		number.
	update <no|yes>
		Should lrrd connect to the client and fetch data for this node? Default
		"yes". (Note that you have to use both 'update' and 'graph' to disable a
		node completely.)
	graph <no|yes>
		Should lrrd graph the data in the rrd-files belonging to this node?
		Default "yes". (Note that you have to use both 'update' and 'graph' to
		disable a node completely.)

Service-level (<client>):
	create_args <args-to-rrdcreate>
		Extraordinary arguments for 'rrdtool create' when it creates the
		rrd-file.
	graph_args <args-to-rrdgraph>
		Extraordinary arguments for 'rrdtool graph' when it creates the
		graphs.
	graph_title <title>
		The title of the graph.
	graph_vlabel <Y-axis-label>
		Vertical label / Y-axis-label for the graph.
	graph_order <fields>
		The order the fields will plotted in the graph.
	graph <no|yes>
	update <no|yes>
		See the node-level commands of the same name.
	host_name <name-of-host>
		This 'host_name' must match the name spesified in '<node>'.

Field-level (fieldname.*):
	label <label>
		The label of the field. Used in the legend.
	type <gauge|counter|derive|absolute>
		The type of data. Default "gauge". Once the rrd-file is created, you
		will lose all historical data if you have to change this.
	draw <line[123]|area|stack> [line2]
		How lrrd should draw the field in the graphs. Default "line2".
	graph <yes|no>
		If set to "no", skips the field in question. Default "yes".
	min <value>
		If any value returned when fetching data is below this value, then store
		"U" (undefined) instead. Does NOT limit what values are drawn when the
		graph is plotted. Neither does it work for values already stored.
	max <value>
		Same as min, but spesifies maximum values instead of minimum.
	cdef <rpn-statement>
		Mathematical expression using RPN (reverse polish notation). Look at
		RRDTOOL's pages for more info
		(http://people.ee.ethz.ch/~oetiker/webtools/rrdtool/tutorial/cdeftutorial.html).
	negative <fieldname>
		The field called "fieldname" will be 'mirrored' on the x-axis. Mostly
		used to graph both inbound and outbound traffic in the same graph. You
		should declare a 'fieldname.graph no' on the field in question, or it
		will be drawn twice.
	warning <max|:max|min:|min:max>
		Warn surveillance software when the value last loaded goes out of these
		bounds. Default is no bounds.
	critical <max|:max|min:|min:max>
		Warn surveillance software when the value last loaded goes out of these
		bounds. Default is no bounds.
	hrule <value>
		Draw a horisontal ruler on the graph.
	filename <full-path-to-rrd-file>
		Override which file lrrd should fetch its data from. This value is NOT
		used when values are stored.
	rrdfield <rrd-file-internal-field>
		Override the fieldname lrrd will read data from within the file. This
		value is NOT used when values are stored.

