[Unit]
Description=Munin FastCGI Graph
Requires=munin-graph.socket

[Service]
User=munin
Group=munin
ExecStart=/usr/lib/munin/cgi/munin-cgi-graph
StandardInput=socket
StandardOutput=inherit
StandardError=journal
