# systemd: collect graphs, generate html and png files
Test-Command: prove -v debian/tests/munin-master/*.t
Depends: munin, munin-node, daemontools
Restrictions: needs-root breaks-testbed isolation-container

# sysvinit-core: collect graphs, generate html and png files
Test-Command: debian/tests/run-with-sysvinit prove -v debian/tests/munin-master/*.t
Depends: munin, munin-node, daemontools
Restrictions: needs-root breaks-testbed isolation-machine needs-reboot

# systemd: run the node; access plugins
Test-Command: prove -v debian/tests/munin-node/*.t
Depends: munin-node, netcat-openbsd
Restrictions: needs-root breaks-testbed isolation-container

# sysvinit-core: run the node; access plugins
Test-Command: debian/tests/run-with-sysvinit prove -v debian/tests/munin-node/*.t
Depends: munin-node, netcat-openbsd
Restrictions: needs-root breaks-testbed isolation-machine needs-reboot

# verify that all binary packages can be installed at the same (without conflicts)
Test-Command: true
Depends: @
Restrictions: breaks-testbed
