# tests for master components:
#   * collect graphs
#   * generate html and png files

# systemd / cron strategy
Test-Command: prove -v debian/tests/munin-master/*.t
Depends: munin, munin-node, daemontools, apache2, curl, file, sharness
Restrictions: needs-root breaks-testbed isolation-container

# systemd / CGI strategy
Test-Command: debian/tests/run-with-cgi-strategy prove -v debian/tests/munin-master/*.t
Depends: munin, munin-node, daemontools, apache2, curl, file, libcgi-fast-perl, sharness
Restrictions: needs-root breaks-testbed isolation-container

# sysvinit-core / cron strategy
Test-Command: debian/tests/run-with-sysvinit prove -v debian/tests/munin-master/*.t
Depends: munin, munin-node, daemontools, apache2, curl, file, sharness
Restrictions: needs-root breaks-testbed isolation-machine needs-reboot

# sysvinit-core / CGI strategy
Test-Command: debian/tests/run-with-cgi-strategy debian/tests/run-with-sysvinit prove -v debian/tests/munin-master/*.t
Depends: munin, munin-node, daemontools, apache2, curl, file, libcgi-fast-perl, sharness
Restrictions: needs-root breaks-testbed isolation-machine needs-reboot


# tests for munin-node:
#   * run the node
#   * access plugins

# systemd
Test-Command: prove -v debian/tests/munin-node/*.t
Depends: munin-node, netcat-openbsd, net-tools, sharness
Restrictions: needs-root breaks-testbed isolation-container

# sysvinit-core
Test-Command: debian/tests/run-with-sysvinit prove -v debian/tests/munin-node/*.t
Depends: munin-node, netcat-openbsd, sharness
Restrictions: needs-root breaks-testbed isolation-machine needs-reboot


# verify that all binary packages can be installed at the same (without conflicts)
Test-Command: true
Depends: @
Restrictions: breaks-testbed
