[Unit]
Description=Munin Node
Documentation=man:munin-node(1) http://guide.munin-monitoring.org/en/latest/reference/munin-node.html

[Service]
EnvironmentFile=-/etc/default/munin-node
Type=forking
Restart=always
ExecStart=/usr/sbin/munin-node $DAEMON_ARGS
PIDFile=/run/munin/munin-node.pid

[Install]
WantedBy=multi-user.target
