<TMPL_LOOP PATH>
	<TMPL_UNLESS __last__>
		<TMPL_IF pathname> &bull;
			<TMPL_IF path><a href="<TMPL_VAR path>"></TMPL_IF><TMPL_VAR pathname><TMPL_IF path></a></TMPL_IF>
		<TMPL_ELSE>
			<TMPL_IF path><a href="<TMPL_VAR path>"></TMPL_IF>Overview<TMPL_IF path></a></TMPL_IF>
		</TMPL_IF>
	</TMPL_UNLESS>
</TMPL_LOOP>
<TMPL_IF CATEGORY> &bull; <TMPL_VAR CATEGORY></TMPL_IF>
<TMPL_IF LARGESET>
	&bull; <select class="peers" onchange="window.open(this.options[this.selectedIndex].value,'_top')">
	<option value=""><TMPL_VAR INFO_OPTION></option>
	<TMPL_LOOP PEERS>
		<option
		<TMPL_IF LINK>
		value="<TMPL_VAR LINK>">
		<TMPL_ELSE>
		value="">
		</TMPL_IF>
		<TMPL_VAR NAME></option>
	</TMPL_LOOP>
	</select>
<TMPL_ELSE>
	:<TMPL_LOOP PEERS>: <TMPL_IF LINK><a href="<TMPL_VAR LINK>"></TMPL_IF><TMPL_VAR NAME><TMPL_IF LINK></a></TMPL_IF> </TMPL_LOOP>
</TMPL_IF>
