<div class="header">
	<a href="/" class="logo"></a>
	<div class="pageTitle singleLine">
		<h1>
			<a href="/">Overview</a>
			&bull; Problems overview
			&bull; <span class="problems">
				<a href="#critical">critical</a>
				<a href="#warning">warning</a>
				<a href="#unknown">unknown</a>
			</span>
		</h1>
	</div>
	<div class="clear"></div>
</div>
