<h1><span class="logo"></span> <span class="currentpage">Overview</span></h1>
  <tr>
    <td class="logo" rowspan="2"><div class="logo">&nbsp;</div></td>
    <td valign="top">
    <h2><TMPL_INCLUDE NAME="path.tmpl"></h2>
    </td>    
  </tr>
