<header>
	<a href="/" class="logo"></a>
	<div class="pageTitle">
		<h1>
			<a href="/">Overview</a>
			<span class="sep"></span> Problems overview
			<span class="sep"></span> <span class="problems">
				<a href="#critical">critical</a>
				<a href="#warning">warning</a>
				<a href="#unknown">unknown</a>
			</span>
		</h1>
	</div>
	<div class="clear"></div>
</header>
