<div id="header">
	<h1><a href="<TMPL_VAR NAME="R_PATH">"><span class="logo"></span></a> <span class="currentpage">
	<a href="<TMPL_VAR NAME="R_PATH">">Overview</a>
	:: Problem overview
	:: <span class="problems">[
		<a href="#critical">critical</a>
		<a href="#warning">warning</a>
		<a href="#unknown">unknown</a>
	]</span>
	</span></h1>
</div>

