<div class="header">
	<a href="/" class="logo"></a>
	<div class="filter">
		<input type="text" id="filter" />
		<img id="cancelFilter" src="/static/img/icons/glyphicons-208-remove-2-white.png" style="display:none;" />
	</div>
	<div class="pageTitle <TMPL_IF NAME="COMPARE"><TMPL_ELSE>singleLine</TMPL_IF>">
		<h1>
			<TMPL_LOOP NAME="PATH">
				<TMPL_IF NAME="PATHNAME"> &bull;
					<TMPL_IF NAME="PATH">
						<a href="<TMPL_VAR NAME="PATH">"><!--
					<TMPL_ELSE>
						<span class="switchable" data-switch="header"><!--
					</TMPL_IF>
					--><TMPL_VAR NAME="PATHNAME"><!--
					<TMPL_IF NAME="PATH">
						--></a>
					<TMPL_ELSE>
						--></span>
					</TMPL_IF>
				<TMPL_ELSE>
					<a href="/">Overview</a>
				</TMPL_IF>
			</TMPL_LOOP>
		</h1>
		<div class="subtitle">
			<TMPL_IF NAME="COMPARE">
				<span class="comparison">
					<TMPL_VAR ESCAPE="HTML" NAME="NAME">
					<a href="comparison-day.html">day</a>
					<a href="comparison-week.html">week</a>
					<a href="comparison-month.html">month</a>
					<a href="comparison-year.html">year</a>
				</span>
			</TMPL_IF>
		</div>
	</div>
	<div class="clear"></div>
	<TMPL_IF NAME="LARGESET">
		<div class="switchable_content" data-switch="header">
			<TMPL_LOOP NAME="PEERS">
				<a <TMPL_IF NAME="LINK">href="<TMPL_VAR NAME="LINK">"</TMPL_IF>>
					<TMPL_VAR NAME="NAME">
				</a>
			</TMPL_LOOP>
		</div>
	</TMPL_IF>
</div>
