<div class="header">
	<a href="/" class="logo"></a>
	<div class="filter">
		<input type="text" id="filter" />
		<img id="cancelFilter" src="/static/img/icons/glyphicons-208-remove-2-white.png" style="display:none;" alt="Clear" />
	</div>
	<div class="pageTitle singleLine">
		<h1>
			<TMPL_LOOP PATH>
				<TMPL_IF PATHNAME> <span class="sep"></span>
					<TMPL_IF PATH>
						<a href="<TMPL_VAR PATH>"><!--
					<TMPL_ELSE>
						<TMPL_IF SWITCHABLE>
							<div class="switchable" data-switch="header"><!--
						<TMPL_ELSE>
							<!--
						</TMPL_IF>
					</TMPL_IF>
					--><TMPL_VAR PATHNAME><!--
					<TMPL_IF PATH>
						--></a>
					<TMPL_ELSE>
						<TMPL_IF SWITCHABLE>
							--></div>
						<TMPL_ELSE>
							-->
						</TMPL_IF>
					</TMPL_IF>
				<TMPL_ELSE>
					<a href="/">Overview</a>
				</TMPL_IF>
			</TMPL_LOOP>
		</h1>
	</div>
	<div class="clear"></div>
	<TMPL_IF LARGESET>
		<div class="switchable_content" data-switch="header">
			<div class="title"><TMPL_VAR INFO_OPTION></div>
			<TMPL_LOOP PEERS>
				<a <TMPL_IF LINK>href="<TMPL_VAR LINK>"</TMPL_IF>>
					<TMPL_VAR NAME>
				</a>
			</TMPL_LOOP>
		</div>
	</TMPL_IF>
</div>
