<div class="header">
	<a href="/" class="logo"></a>
	<div class="pageTitle">
		<h1>
			<TMPL_LOOP PATH>
				<TMPL_IF PATHNAME> &bull;
					<TMPL_IF PATH><a href="<TMPL_VAR PATH>"></TMPL_IF><TMPL_VAR PATHNAME><TMPL_IF PATH></a></TMPL_IF>
				<TMPL_ELSE>
					<TMPL_IF PATH><a href="<TMPL_VAR PATH>"></TMPL_IF>Overview<TMPL_IF PATH></a></TMPL_IF>
				</TMPL_IF>
			</TMPL_LOOP>
			[
			<a href="comparison-day.html">day</a>
			<a href="comparison-week.html">week</a>
			<a href="comparison-month.html">month</a>
			<a href="comparison-year.html">year</a> ]
		</h1>
		<div class="subtitle">
			<span class="categories">
				<TMPL_VAR NAME> [
				<TMPL_LOOP CATEGORIES>
					<a <TMPL_IF STATE_WARNING>class="warn"</TMPL_IF>
					  <TMPL_IF STATE_CRITICAL>class="crit"</TMPL_IF>
					  href="#<TMPL_VAR ESCAPE="HTML" GROUPNAME>"><TMPL_VAR ESCAPE="HTML" GROUPNAME></a>
				</TMPL_LOOP>
				]
			</span>
		</div>
	</div>
	<div class="clear"></div>
</div>
