<div class="navContainer">
	<div id="navToggle">Toggle navigation menu</div>
	<div id="nav">
		<h2>Problems</h2>
		<ul>
			<li><div class="badge"><TMPL_VAR NCRITICAL></div><a href="/problems.html#critical">Critical</a></li>
			<li><div class="badge"><TMPL_VAR NWARNING></div><a href="/problems.html#warnings">Warning</a></li>
			<li><div class="badge"><TMPL_VAR NUNKNOWN></div><a href="/problems.html#unknowns">Unknown</a></li>
		</ul>
		<hr />
		<h2>Groups</h2>
		<ul>
		<TMPL_LOOP ROOTGROUPS>
			<li><a href="/<TMPL_VAR URL>"><TMPL_VAR NAME></a></li>
		</TMPL_LOOP>
		</ul>
		<hr />
		<h2>Categories</h2>
		<ul class="categories">
		<TMPL_LOOP GLOBALCATS>
			<li>
				<div class="timerangesList">
					<a href="/<TMPL_VAR URLDAY>">d</a>
					<a href="/<TMPL_VAR URLWEEK>">w</a>
					<a href="/<TMPL_VAR URLMONTH>">m</a>
					<a href="/<TMPL_VAR URLYEAR>">y</a>
				</div>
				<a href="/<TMPL_VAR URLDAY>"><TMPL_VAR NAME></a>
			</li>
		</TMPL_LOOP>
		</ul>
	</div>
</div>
