<div class="navContainer">
    <div id="navToggle">Toggle navigation menu</div>
    <div id="nav">
        <h2>Problems</h2>
        <ul>
            <li><div class="badge"><TMPL_VAR NAME="NCRITICAL"></div><a href="<TMPL_VAR NAME="R_PATH">/problems.html#critical">Critical</a></li>
            <li><div class="badge"><TMPL_VAR NAME="NWARNING"></div><a href="<TMPL_VAR NAME="R_PATH">/problems.html#warnings">Warning</a></li>
            <li><div class="badge"><TMPL_VAR NAME="NUNKNOWN"></div><a href="<TMPL_VAR NAME="R_PATH">/problems.html#unknowns">Unknown</a></li>
        </ul>
        <h2>Groups</h2>
        <ul>
        <TMPL_LOOP NAME="ROOTGROUPS">
            <li><a href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URL">"><TMPL_VAR NAME="NAME"></a></li>
        </TMPL_LOOP>
        </ul>
        <h2>Categories</h2>
        <ul class="categories">
        <TMPL_LOOP NAME="GLOBALCATS">
            <li>
				<div class="timerangesList">
					<a href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URLHOUR">">h</a>
					<a href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URLDAY">">d</a>
					<a href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URLWEEK">">w</a>
					<a href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URLMONTH">">m</a>
					<a href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URLYEAR">">y</a>
				</div>
				<a href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URLDAY">"><TMPL_VAR NAME="NAME"></a>
            </li>
        </TMPL_LOOP>
        </ul>
    </div>
</div>
 
