<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="NAME"> :: <TMPL_IF NAME="PATH"><a href="<TMPL_VAR NAME="PATH">"></TMPL_IF><TMPL_VAR NAME="NAME"><TMPL_IF NAME="PATH"></a></TMPL_IF><TMPL_ELSE><TMPL_IF NAME="PATH"><a href="<TMPL_VAR NAME="PATH">"></TMPL_IF>Overview<TMPL_IF NAME="PATH"></a></TMPL_IF></TMPL_IF></TMPL_LOOP>
