body, h1, h2, h3, p, span, div { 
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: small;
 }

body { 
  background-color: #ffffff;
  color: #000000;
  
 }

div.logo { 
  background-image: url(logo.png);
  background-repeat: no-repeat;  
  width: 41px;
  height: 59px;
} 

.domain { 
  font-size: medium;
  font-weight: bold;
 }

.host { 
  font-weight: bold;
 }

.center { 
  text-align: center;
}

.small { 
  text-size: smaller;
 }

.noborder { 
  border-width: 0px;
  border-collapse: collapse;
 }
.box {
        border-width: thin;
        border-top: 1px;
        border-bottom: 1px;
        border-left: 1px;
        border-right: 1px;
        border-color: #999;
        border-style: solid;
        padding: 4px 4px 4px 4px;
        margin: 2px 2px 2px 2px;
        text-align: left;
        width: 80%;
        max-width: 90%
}

.legendbox {
        border-width: thin;
        border-top: 1px;
        border-bottom: 1px;
        border-left: 1px;
        border-right: 1px;
        border-color: #999;
        border-style: solid;
        padding: 4px 4px 4px 4px;
        margin: 2px 2px 2px 2px;
        text-align: left;
}

.linkbox {
  border-width: thin;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-color: #999;
  border-style: solid;
  padding: 4px 4px 4px 4px;
  margin: 8px 4px 2px 2px;
  text-align: left;
  width: 80%;
  max-width: 90%
}

.warntext {
  font-weight: bold;
  background-color: #f2ff00;
}

.crittext {
  font-weight: bold;
  background-color: #ff3f00;
}

a:link { 
  color: #486aaf;
 }

a:visited { 
  color: #af1a00;
 }

a:active { 
    color: #486aaf;
 }

a:hover { 
    color: #999999;
 }

