<TMPL_INCLUDE NAME="partial/head.tmpl">
<body>
<TMPL_INCLUDE NAME="partial/logo_navigation_problem.tmpl">
<div id="main" class="categoryview">
	<TMPL_INCLUDE NAME="partial/navigation.tmpl">
	<div id="content">
		<h2>Problems overview</h2>
		<TMPL_IF CRITICAL>
			<div class="problem" id="critical">
				<h3>Critical</h3>

				<TMPL_LOOP CRITICAL>
					<div class="node">
						<span class="nodetitle">
							<a href="<TMPL_VAR NODEURL>"><TMPL_VAR ESCAPE="HTML" NODENAME></a> ::
							<TMPL_IF URL><a href="<TMPL_VAR URL>"></TMPL_IF>
								<TMPL_VAR ESCAPE="HTML" LABEL>
							<TMPL_IF URL></a></TMPL_IF>
						</span>
						<br />

						<a href="<TMPL_VAR URL>" class="graphLink i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>">
							<img src="<TMPL_VAR CIMGDAY>" alt="<TMPL_VAR ESCAPE="HTML" LABEL>" class="graph i"
							  <TMPL_IF IMGDAYWIDTH>width="<TMPL_VAR IMGDAYWIDTH>" </TMPL_IF>
							  <TMPL_IF IMGDAYHEIGHT>height="<TMPL_VAR IMGDAYHEIGHT>"</TMPL_IF> />
						</a>

						<span class="nodetitle">
							<a href="<TMPL_VAR NODEURL>"><TMPL_VAR ESCAPE="HTML" NODENAME></a> ::
							<TMPL_IF URL><a href="<TMPL_VAR URLX>"></TMPL_IF>
								<TMPL_VAR ESCAPE="HTML" LABEL>
							<TMPL_IF URL></a></TMPL_IF>
						</span>
						<br />

						<a href="<TMPL_VAR URL>" class="graphLink i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>">
							<img src="<TMPL_VAR CIMGWEEK>" alt="<TMPL_VAR ESCAPE="HTML" LABEL>" class="graph i"
							  <TMPL_IF IMGWEEKWIDTH>width="<TMPL_VAR IMGWEEKWIDTH>" </TMPL_IF>
							  <TMPL_IF IMGWEEKHEIGHT>height="<TMPL_VAR IMGWEEKHEIGHT>"</TMPL_IF> />
						</a>
					</div>
					<br />
				</TMPL_LOOP>
			</div>
		</TMPL_IF>
		<TMPL_IF WARNING>
			<div class="problem" id="warning">
				<h3>Warning</h3>

				<TMPL_LOOP WARNING>
					<div class="node">
						<span class="nodetitle">
							<a href="<TMPL_VAR NODEURL>"><TMPL_VAR ESCAPE="HTML" NODENAME></a> ::
							<TMPL_IF URL><a href="<TMPL_VAR URL>"></TMPL_IF>
								<TMPL_VAR ESCAPE="HTML" LABEL>
							<TMPL_IF URL></a></TMPL_IF>
						</span>
						<br />

						<a href="<TMPL_VAR URL>" class="graphLink">
							<img src="<TMPL_VAR CIMGDAY>" alt="<TMPL_VAR ESCAPE="HTML" LABEL>" class="graph i"
							  <TMPL_IF IMGDAYWIDTH>width="<TMPL_VAR IMGDAYWIDTH>" </TMPL_IF>
							  <TMPL_IF IMGDAYHEIGHT>height="<TMPL_VAR IMGDAYHEIGHT>"</TMPL_IF> />
						</a>
					</div>

					<div class="node">
						<span class="nodetitle">
							<a href="<TMPL_VAR NODEURL>"><TMPL_VAR ESCAPE="HTML" NODENAME></a> ::
							<TMPL_IF URL><a href="<TMPL_VAR URLX>"></TMPL_IF>
								<TMPL_VAR ESCAPE="HTML" LABEL>
							<TMPL_IF URL></a></TMPL_IF>
						</span>
						<br />

						<a href="<TMPL_VAR URL>" class="graphLink">
							<img src="<TMPL_VAR CIMGWEEK>" alt="<TMPL_VAR ESCAPE="HTML" LABEL>" class="graph i"
							  <TMPL_IF IMGWEEKWIDTH>width="<TMPL_VAR IMGWEEKWIDTH>" </TMPL_IF>
							  <TMPL_IF IMGWEEKHEIGHT>height="<TMPL_VAR IMGWEEKHEIGHT>"</TMPL_IF> />
						</a>
					</div>
					<br />
				</TMPL_LOOP>
			</div>
		</TMPL_IF>
		<TMPL_IF UNKNOWN>
			<div class="problem" id="unknown">
				<h3>Unknown</h3>

				<TMPL_LOOP UNKNOWN>
					<div class="node">
						<span class="nodetitle">
							<a href="<TMPL_VAR NODEURL>"><TMPL_VAR ESCAPE="HTML" NODENAME></a> ::
							<TMPL_IF URL><a href="<TMPL_VAR URL>"></TMPL_IF>
								<TMPL_VAR ESCAPE="HTML" LABEL>
							<TMPL_IF URL></a></TMPL_IF>
						</span>
						<br />

						<a href="<TMPL_VAR URL>" class="graphLink">
							<img src="<TMPL_VAR CIMGDAY>" alt="<TMPL_VAR ESCAPE="HTML" LABEL>" class="graph i"
							  <TMPL_IF IMGDAYWIDTH>width="<TMPL_VAR IMGDAYWIDTH>" </TMPL_IF>
							  <TMPL_IF IMGDAYHEIGHT>height="<TMPL_VAR IMGDAYHEIGHT>"</TMPL_IF>/>
						</a>
					</div>

					<div class="node">
						<span class="nodetitle">
							<a href="<TMPL_VAR NODEURL>"><TMPL_VAR ESCAPE="HTML" NODENAME></a> ::
							<TMPL_IF URL><a href="<TMPL_VAR URLX>"></TMPL_IF>
								<TMPL_VAR ESCAPE="HTML" LABEL>
							<TMPL_IF URL></a></TMPL_IF>
						</span>
						<br />

						<a href="<TMPL_VAR URL>" class="graphLink">
							<img src="<TMPL_VAR CIMGWEEK>" alt="<TMPL_VAR ESCAPE="HTML" LABEL>" class="graph i"
							  <TMPL_IF IMGWEEKWIDTH>width="<TMPL_VAR IMGWEEKWIDTH>" </TMPL_IF>
							  <TMPL_IF IMGWEEKHEIGHT>height="<TMPL_VAR IMGWEEKHEIGHT>"</TMPL_IF> />
						</a>
					</div>
					<br />
				</TMPL_LOOP>
			</div>
		</TMPL_IF>

	<TMPL_IF CRITICAL>
	<TMPL_ELSE>
		<TMPL_IF WARNING>
		<TMPL_ELSE>
			<TMPL_IF UNKNOWN>
			<TMPL_ELSE>
				<p class="neutralMessage">There are neither warnings nor errors to display.</p>
			</TMPL_IF>
		</TMPL_IF>
	</TMPL_IF>
	</div>
</div>
<TMPL_INCLUDE NAME="partial/footer.tmpl">
</body>
</html>
