<TMPL_INCLUDE NAME="partial/head.tmpl">
<body>
<!--[if lt IE 9]>
	<div class="ie8Warning">
		<p><h3>Warning!</h3> It seems that you are using an outdated version of Internet Explorer. For the best munin experience, please upgrade your web browser.
			<a href="#">Dismiss</a></p>
	</div>
<![endif]-->
<header>
	<div class="left">
		<div class="actions">
			<div id="navigation-toggle" class="action-icon">
				<i class="mdi mdi-menu"></i>
			</div>
		</div>
		<a href="/" class="logo"></a>
	</div>
	<div class="right">
		<div class="filter" style="display: none;">
			<i class="mdi mdi-magnify"></i>
			<input type="text" id="filter" />
			<i id="cancelFilter" class="mdi mdi-window-close" style="display:none;"></i>
		</div>
	</div>
	<div class="pageTitle"><h1>Overview</h1></div>
	<div class="clear"></div>
</header>
<div id="main">
	<TMPL_INCLUDE NAME="partial/navigation.tmpl">
		<div id="content">
			<h2>Overview</h2>

			<ul class="groupview">
				<TMPL_LOOP GROUPS><TMPL_UNLESS MULTIGRAPH>
					<li <TMPL_IF __LAST__>class="last"</TMPL_IF>>
					<TMPL_IF NCATEGORIES><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR URL>"><TMPL_VAR ESCAPE="HTML" NAME></a></span>
					<TMPL_IF NCATEGORIES>
						<div class="overview-sparkline">
							<img src="<TMPL_VAR URL>load-hour.png?&only_graph=1&size_x=90&size_y=28" class="sparkline" alt="Load average by hour for <TMPL_VAR ESCAPE="HTML" NAME>" />
						</div>
					</TMPL_IF>
					<TMPL_IF COMPARE>
						<div class="compare">
							<i class="mdi mdi-compare"></i>
							<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a>
							<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a>
							<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a>
							<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
						</div>
					</TMPL_IF>
					<TMPL_IF NCATEGORIES>
						<div class="categories">
							<TMPL_LOOP CATEGORIES>
								<a <TMPL_IF STATE_WARNING>class="warn"</TMPL_IF> <TMPL_IF STATE_CRITICAL>class="crit"</TMPL_IF> href="<TMPL_VAR URL>"><TMPL_VAR ESCAPE="HTML" NAME></a>
							</TMPL_LOOP>
						</div>
					</TMPL_IF>
					<ul>
						<TMPL_LOOP GROUPS><TMPL_UNLESS MULTIGRAPH>
							<li <TMPL_IF __LAST__>class="last"</TMPL_IF>>
							<TMPL_IF NCATEGORIES><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR URL>"><TMPL_VAR ESCAPE="HTML" NAME></a></span>
							<TMPL_IF NCATEGORIES>
								<div class="overview-sparkline">
									<img src="<TMPL_VAR URL>load-hour.png?&only_graph=1&size_x=90&size_y=28" class="sparkline" alt="Load average by hour for <TMPL_VAR ESCAPE="HTML" NAME>" />
								</div>
							</TMPL_IF>
							<TMPL_IF COMPARE>
								<div class="compare">
									<i class="mdi mdi-compare"></i>
									<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a>
									<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a>
									<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a>
									<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
								</div>
							</TMPL_IF>
							<TMPL_IF NCATEGORIES>
								<div class="categories">
									<TMPL_LOOP CATEGORIES>
										<a <TMPL_IF STATE_WARNING>class="warn"</TMPL_IF> <TMPL_IF STATE_CRITICAL>class="crit"</TMPL_IF> href="<TMPL_VAR URL>"><TMPL_VAR ESCAPE="HTML" NAME></a>
									</TMPL_LOOP>
								</div>
							</TMPL_IF>
							<ul>
								<TMPL_LOOP GROUPS><TMPL_UNLESS MULTIGRAPH>
									<li <TMPL_IF __LAST__>class="last"</TMPL_IF>>
									<TMPL_IF NCATEGORIES><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR URL>"><TMPL_VAR ESCAPE="HTML" NAME></a></span>
									<TMPL_IF NCATEGORIES>
										<div class="overview-sparkline">
											<img src="<TMPL_VAR URL>load-hour.png?&only_graph=1&size_x=90&size_y=28" class="sparkline" alt="Load average by hour for <TMPL_VAR ESCAPE="HTML" NAME>" />
										</div>
									</TMPL_IF>
									<TMPL_IF COMPARE>
										<div class="compare">
											<i class="mdi mdi-compare"></i>
											<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a>
											<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a>
											<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a>
											<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
										</div>
									</TMPL_IF>
									<TMPL_IF NCATEGORIES>
										<div class="categories">
											<TMPL_LOOP CATEGORIES>
												<a <TMPL_IF STATE_WARNING>class="warn"</TMPL_IF> <TMPL_IF STATE_CRITICAL>class="crit"</TMPL_IF> href="<TMPL_VAR URL>"><TMPL_VAR ESCAPE="HTML" NAME></a>
											</TMPL_LOOP>
										</div>
									</TMPL_IF>
									<ul>
										<TMPL_LOOP GROUPS><TMPL_UNLESS MULTIGRAPH>
											<li <TMPL_IF __LAST__>class="last"</TMPL_IF>>
											<TMPL_IF NCATEGORIES><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR URL>"><TMPL_VAR ESCAPE="HTML" NAME></a></span>
											<TMPL_IF NCATEGORIES>
												<div class="overview-sparkline">
													<img src="<TMPL_VAR URL>load-hour.png?&only_graph=1&size_x=90&size_y=28" class="sparkline" alt="Load average by hour for <TMPL_VAR ESCAPE="HTML" NAME>" />
												</div>
											</TMPL_IF>
											<TMPL_IF COMPARE>
												<div class="compare">
													<i class="mdi mdi-compare"></i>
													<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a>
													<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a>
													<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a>
													<a href="/<TMPL_LOOP PATH><TMPL_IF pathname><TMPL_VAR ESCAPE="URL" PATHNAME>/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
												</div>
											</TMPL_IF>
											<TMPL_IF NCATEGORIES>
												<div class="categories">
													<TMPL_LOOP CATEGORIES>
														<a <TMPL_IF STATE_WARNING>class="warn"</TMPL_IF> <TMPL_IF STATE_CRITICAL>class="crit"</TMPL_IF> href="<TMPL_VAR URL>"><TMPL_VAR ESCAPE="HTML" NAME></a>
													</TMPL_LOOP>
												</div>
											</TMPL_IF>
										</TMPL_UNLESS></TMPL_LOOP>
									</ul>
								</TMPL_UNLESS></TMPL_LOOP>
							</ul>
							</li>
						</TMPL_UNLESS></TMPL_LOOP>
					</ul>
					</li>
				</TMPL_UNLESS></TMPL_LOOP>
			</ul>
			<div class="clear"></div>
		</div>
</div>
<TMPL_INCLUDE NAME="partial/footer.tmpl">
<script src="/static/js/munin-overview.js"></script>
<!--[if lt IE 9]>
	<script>
		$(document).ready(function() {
			var ie8Warning = $('.ie8Warning');

			// Bind dismiss event
			ie8Warning.find('a').click(function(e) {
				e.preventDefault();
				ie8Warning.fadeOut();

				// Set cookie
				var expiry = new Date();
				expiry.setTime(expiry.getTime()+(1000*60*60*24*365));
				document.cookie = 'IE8WarningDismissed=true; expires=' + expiry.toGMTString() + ' UTC; path=/';
			});

			// Show warning if not dismissed
			if (document.cookie.match(/^(.*;)?IE8WarningDismissed=[^;]+(.*)?$/) == null) {
				ie8Warning.show();

				setTimeout(function() {
					ie8Warning.fadeOut();
				}, 30000);
			}
		});
	</script>
<![endif]-->
</body>
</html>
