<TMPL_INCLUDE NAME="partial/head.tmpl">
<body>
<TMPL_INCLUDE NAME="partial/logo_navigation.tmpl">
<div id="main" class="categoryview">
	<TMPL_INCLUDE NAME="partial/navigation.tmpl">
	<div id="content">
		<h2>Category: <TMPL_VAR ESCAPE="HTML" CATEGORY></h2>
		<TMPL_LOOP SERVICES>
			<div class="service">
				<h3 id="<TMPL_VAR ESCAPE="HTML" name>"><TMPL_VAR ESCAPE="HTML" NAME></h3>
				<TMPL_LOOP GRAPHS>
					<div class="node">
						<span class="nodetitle">
							<a href="<TMPL_VAR HOST_URL>">
								<TMPL_VAR ESCAPE="HTML" NODENAME></a> &bull;
								<TMPL_IF URLX>
									<a <TMPL_IF STATE_WARNING>class="warn"</TMPL_IF>
									  <TMPL_IF STATE_CRITICAL>class="crit"</TMPL_IF> href="<TMPL_VAR URLX>">
								</TMPL_IF>
									<TMPL_VAR ESCAPE="HTML" LABEL>
								<TMPL_IF URLX></a></TMPL_IF>
						</span>
						<br />
						<a href="<TMPL_VAR URLX>" class="graphLink i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>">
							<TMPL_IF TIMEDAY>
								<TMPL_UNLESS DYN_IMAGES>
									<img src="<TMPL_VAR CIMGDAY>" alt="<TMPL_VAR ESCAPE="HTML" LABEL>"
									  class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
									  <TMPL_IF IMGDAYWIDTH>width="<TMPL_VAR IMGDAYWIDTH>" </TMPL_IF>
									  <TMPL_IF IMGDAYHEIGHT>height="<TMPL_VAR IMGDAYHEIGHT>"</TMPL_IF>/>
								<TMPL_ELSE>
									<noscript>
										<img class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
										  src="<TMPL_VAR CIMGDAY>"
										  alt="<TMPL_VAR ESCAPE="HTML" NAME>"
										  <TMPL_IF IMGDAYWIDTH>width="<TMPL_VAR IMGDAYWIDTH>" </TMPL_IF>
										  <TMPL_IF IMGDAYHEIGHT>height="<TMPL_VAR IMGDAYHEIGHT>"</TMPL_IF>/>
									</noscript>
									<img class="graph lazy i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
									  data-original="<TMPL_VAR CIMGDAY>"
									  src="/static/img/placeholder.gif"
									  alt="<TMPL_VAR ESCAPE="HTML" NAME>"
									  <TMPL_IF IMGDAYWIDTH>width="<TMPL_VAR IMGDAYWIDTH>" </TMPL_IF>
									  <TMPL_IF IMGDAYHEIGHT>height="<TMPL_VAR IMGDAYHEIGHT>"</TMPL_IF>/>
								</TMPL_UNLESS>
							</TMPL_IF>
							<TMPL_IF TIMEWEEK>
								<TMPL_UNLESS DYN_IMAGES>
									<img src="<TMPL_VAR CIMGWEEK>" alt="<TMPL_VAR ESCAPE="HTML" LABEL>"
									  class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
									  <TMPL_IF IMGWEEKWIDTH>width="<TMPL_VAR IMGWEEKWIDTH>" </TMPL_IF>
									  <TMPL_IF IMGWEEKHEIGHT>height="<TMPL_VAR IMGWEEKHEIGHT>"</TMPL_IF>/>
								<TMPL_ELSE>
									<noscript>
										<img class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
										  src="<TMPL_VAR CIMGWEEK>"
										  alt="<TMPL_VAR ESCAPE="HTML" NAME>"
										  <TMPL_IF IMGWEEKWIDTH>width="<TMPL_VAR IMGWEEKWIDTH>" </TMPL_IF>
										  <TMPL_IF IMGWEEKHEIGHT>height="<TMPL_VAR IMGWEEKHEIGHT>"</TMPL_IF>/>
									</noscript>
									<img class="graph lazy i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
									  data-original="<TMPL_VAR CIMGWEEK>"
									  src="/static/img/placeholder.gif"
									  alt="<TMPL_VAR ESCAPE="HTML" NAME>"
									  <TMPL_IF IMGWEEKWIDTH>width="<TMPL_VAR IMGWEEKWIDTH>" </TMPL_IF>
									  <TMPL_IF IMGWEEKHEIGHT>height="<TMPL_VAR IMGWEEKHEIGHT>"</TMPL_IF>/>
								</TMPL_UNLESS>
							</TMPL_IF>
							<TMPL_IF TIMEMONTH>
								<TMPL_UNLESS DYN_IMAGES>
									<img src="<TMPL_VAR CIMGMONTH>" alt="<TMPL_VAR ESCAPE="HTML" LABEL>"
									  class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
									  <TMPL_IF IMGMONTHWIDTH>width="<TMPL_VAR IMGMONTHWIDTH>" </TMPL_IF>
									  <TMPL_IF IMGMONTHHEIGHT>height="<TMPL_VAR IMGMONTHHEIGHT>"</TMPL_IF>/>
								<TMPL_ELSE>
									<noscript>
										<img class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
										  src="<TMPL_VAR CIMGMONTH>"
										  alt="<TMPL_VAR ESCAPE="HTML" NAME>"
										  <TMPL_IF IMGMONTHWIDTH>width="<TMPL_VAR IMGMONTHWIDTH>" </TMPL_IF>
										  <TMPL_IF IMGMONTHHEIGHT>height="<TMPL_VAR IMGMONTHHEIGHT>"</TMPL_IF>/>
									</noscript>
									<img class="graph lazy i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
									  data-original="<TMPL_VAR CIMGMONTH>"
									  src="/static/img/placeholder.gif"
									  alt="<TMPL_VAR ESCAPE="HTML" NAME>"
									  <TMPL_IF IMGMONTHWIDTH>width="<TMPL_VAR IMGMONTHWIDTH>" </TMPL_IF>
									  <TMPL_IF IMGMONTHHEIGHT>height="<TMPL_VAR IMGMONTHHEIGHT>"</TMPL_IF>/>
								</TMPL_UNLESS>
							</TMPL_IF>
							<TMPL_IF TIMEYEAR>
								<TMPL_UNLESS DYN_IMAGES>
									<img src="<TMPL_VAR CIMGYEAR>" alt="<TMPL_VAR ESCAPE="HTML" LABEL>"
									  class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
									  <TMPL_IF IMGYEARWIDTH>width="<TMPL_VAR IMGYEARWIDTH>" </TMPL_IF>
									  <TMPL_IF IMGYEARHEIGHT>height="<TMPL_VAR IMGYEARHEIGHT>"</TMPL_IF>/>
								<TMPL_ELSE>
									<noscript>
										<img class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
										  src="<TMPL_VAR CIMGYEAR>"
										  alt="<TMPL_VAR ESCAPE="HTML" NAME>"
										  <TMPL_IF IMGYEARWIDTH>width="<TMPL_VAR IMGYEARWIDTH>" </TMPL_IF>
										  <TMPL_IF IMGYEARHEIGHT>height="<TMPL_VAR IMGYEARHEIGHT>"</TMPL_IF>/>
									</noscript>
									<img class="graph lazy i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
									  data-original="<TMPL_VAR CIMGYEAR>"
									  src="/static/img/placeholder.gif"
									  alt="<TMPL_VAR ESCAPE="HTML" NAME>"
									  <TMPL_IF IMGYEARWIDTH>width="<TMPL_VAR IMGYEARWIDTH>" </TMPL_IF>
									  <TMPL_IF IMGYEARHEIGHT>height="<TMPL_VAR IMGYEARHEIGHT>"</TMPL_IF>/>
								</TMPL_UNLESS>
							</TMPL_IF>
						</a>
					</div>
				</TMPL_LOOP>
			</div>
		</TMPL_LOOP>
	</div>
</div>
<TMPL_INCLUDE NAME="partial/footer.tmpl">
<script src="/static/js/component-toolbar.js"></script>
<script src="/static/js/component-autorefresh.js"></script>
<script src="/static/js/munin-categoryview.js"></script>
<script src="/static/js/component-modal.js"></script>
<script src="/static/js/component-dynazoom-modal.js"></script>
</body>
</html>
