<TMPL_INCLUDE NAME="partial/head.tmpl">
<body>
<TMPL_INCLUDE NAME="partial/logo_navigation.tmpl">
<div id="main">
	<TMPL_INCLUDE NAME="partial/navigation.tmpl">
	<div id="content" data-graphext="<TMPL_VAR GRAPH_EXT>">
		<TMPL_LOOP SERVICES>
			<h2><TMPL_VAR GRAPH_TITLE></h2>
			<div class="subtitle"><TMPL_VAR GRAPH_NAME> &bullet;
				<a href="<TMPL_VAR NODEVIEW_PATH>/#<TMPL_VAR CATEGORY>"><TMPL_VAR CATEGORY></a></div>

			<div class="row-fluid">
				<div class="graph-col">
					<a href="<TMPL_VAR ZOOMDAY>" class="graph-link i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>">
						<img src="<TMPL_VAR IMGDAY>"
							alt="daily graph"
							class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
							<TMPL_IF IMGDAYWIDTH>width="<TMPL_VAR IMGDAYWIDTH>" </TMPL_IF>
							<TMPL_IF IMGDAYHEIGHT>height="<TMPL_VAR IMGDAYHEIGHT>"</TMPL_IF> />
					</a>
				</div>
				<div class="graph-col">
					<a href="<TMPL_VAR ZOOMWEEK>" class="graph-link i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>">
						<img src="<TMPL_VAR IMGWEEK>"
							alt="weekly graph"
							class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
							<TMPL_IF IMGWEEKWIDTH>width="<TMPL_VAR IMGWEEKWIDTH>" </TMPL_IF>
							<TMPL_IF IMGWEEKHEIGHT>height="<TMPL_VAR IMGWEEKHEIGHT>"</TMPL_IF> />
					</a>
				</div>
			</div>
			<div class="row-fluid">
				<div class="graph-col">
					<a href="<TMPL_VAR ZOOMMONTH>" class="graph-link i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>">
						<img src="<TMPL_VAR IMGMONTH>"
							alt="monthly graph"
							class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
							<TMPL_IF IMGMONTHWIDTH>width="<TMPL_VAR IMGMONTHWIDTH>" </TMPL_IF>
							<TMPL_IF IMGMONTHHEIGHT>height="<TMPL_VAR IMGMONTHHEIGHT>"</TMPL_IF> />
					</a>
				</div>
				<div class="graph-col">
					<a href="<TMPL_VAR ZOOMYEAR>" class="graph-link i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>">
						<img src="<TMPL_VAR IMGYEAR>"
							alt="yearly graph"
							class="graph i<TMPL_IF STATE_WARNING>warn</TMPL_IF><TMPL_IF STATE_CRITICAL>crit</TMPL_IF>"
							<TMPL_IF IMGYEARWIDTH>width="<TMPL_VAR IMGYEARWIDTH>" </TMPL_IF>
							<TMPL_IF IMGYEARHEIGHT>height="<TMPL_VAR IMGYEARHEIGHT>"</TMPL_IF> />
					</a>
				</div>
			</div>

			<!-- .sum graphs.  One of the least used features of munin? -->
			<TMPL_IF IMGWEEKSUM>
				<img src="<TMPL_VAR IMGWEEKSUM>"
					alt="summed weekly graph"
					<TMPL_IF IMGWEEKSUMWIDTH>width="<TMPL_VAR IMGWEEKSUMWIDTH>" </TMPL_IF>
					<TMPL_IF IMGWEEKSUMHEIGHT>height="<TMPL_VAR IMGWEEKSUMHEIGHT>"</TMPL_IF>/>
				<img src="<TMPL_VAR IMGWEEKSUM>"
					alt="summed weekly graph"
					<TMPL_IF IMGWEEKSUMWIDTH>width="<TMPL_VAR IMGWEEKSUMWIDTH>" </TMPL_IF>
					<TMPL_IF IMGWEEKSUMHEIGHT>height="<TMPL_VAR IMGWEEKSUMHEIGHT>"</TMPL_IF>/>
			</TMPL_IF>

			<h2>Graph Information</h2>
			<TMPL_LOOP GRAPHINFO>
				<!-- Do we actually allow multiple graph_info, or is this just to access the nested data? -->
				<p class="graph_info"><TMPL_VAR info></p>
			</TMPL_LOOP>
			<TMPL_IF STATE_WARNING>
				<p class="warning">
					<p><strong>Note:</strong>
					This service is in WARNING state because one of the values reported is outside the allowed range.
					Please see further down for information about the ranges and the graph for the values.
				</p>
			</TMPL_IF>
			<TMPL_IF STATE_CRITICAL>
				<p class="critical">
					<p><strong>Note:</strong>
					This service is in CRITICAL state because one of the values reported is outside the allowed range.
					Please see further down for information about the ranges and the graph for the values.
				<p>
			</TMPL_IF>
			<TMPL_IF STATE_UNKNOWN>
				<p class="unknown">
					<strong>Note:</strong> This service is in UNKNOWN state, because something bad happened.
					Please check your network, the munin-node, and the plugin.
				</p>
			</TMPL_IF>

			<table id="legend">
				<tr class="legendHead">
					<th class="field">Field</th>
					<th class="internal"><span title="For use in munin.conf">Internal name</span></th>
					<th class="type">Type</th>
					<th class="warn">Warn</th>
					<th class="crit">Crit</th>
					<th class="info">Info</th>
				</tr>
				<TMPL_LOOP FIELDINFO>
					<tr class="<TMPL_IF __odd__>oddrow<TMPL_ELSE>evenrow</TMPL_IF><TMPL_IF __last__> lastrow</TMPL_IF>">
						<td class="field"><TMPL_VAR ESCAPE="HTML" LABEL></td>
						<td class="internal"><span title="For use in munin.conf"><TMPL_VAR ESCAPE="HTML" FIELD></span></td>
						<td class="type"><TMPL_VAR TYPE></td>
						<td class="warn"><TMPL_IF STATE_WARNING><div class="warntext"></TMPL_IF><TMPL_VAR WARN><TMPL_IF STATE_WARNING></div><TMPL_ELSE>&nbsp;</TMPL_IF></td>
						<td class="crit"><TMPL_IF STATE_CRITICAL><div class="crittext"></TMPL_IF><TMPL_VAR CRIT><TMPL_IF STATE_CRITICAL></div><TMPL_ELSE>&nbsp;</TMPL_IF></td>
						<td class="info"><TMPL_IF INFO><TMPL_VAR ESCAPE="HTML" INFO><TMPL_ELSE>&nbsp;</TMPL_IF></td>
					</tr>
					<TMPL_IF EXTINFO>
						<tr class="<TMPL_IF __odd__>oddrow<TMPL_ELSE>evenrow</TMPL_IF>">
							<td class="wrap" colspan="6" align='left' valign='top'>This field has the following extra information: <TMPL_VAR ESCAPE="HTML" EXTINFO></td>
						</tr>
					</TMPL_IF>
				</TMPL_LOOP>
			</table>
		</TMPL_LOOP> <!-- services -->
	</div>
</div>
<TMPL_INCLUDE NAME="partial/footer.tmpl">
<script src="/static/js/munin-serviceview.js"></script>
</body>
</html>
