--- munin-1.2.0rc2.orig/Makefile.config	Mon Jan 10 11:38:32 2005
+++ munin-1.2.0rc2/Makefile.config	Thu Feb  3 11:11:46 2005
@@ -7,52 +7,56 @@
 #
 # the base of the Munin installation.
 # 
-PREFIX     = $(DESTDIR)/opt/munin
+ifdef PREFIX
+UPREFIX=$(PREFIX)
+else
+UPREFIX=/usr
+endif
 
 # Where Munin keeps its configurations (server.conf, client.conf, ++)
-CONFDIR    = $(DESTDIR)/etc/opt/munin
+CONFDIR    = $(PREFIX)/etc/munin
 
 # Server only - where to put munin-cron
-BINDIR     = $(PREFIX)/bin
+BINDIR     = $(UPREFIX)/bin
 
 # Client only - where to put munin-node, munin-node-configure, and munin-run
-SBINDIR    = $(PREFIX)/sbin
+SBINDIR    = $(UPREFIX)/sbin
 
 # Where to put text and html documentation
-DOCDIR     = $(PREFIX)/doc
+DOCDIR     = $(UPREFIX)/doc
 
 # Where to put man pages
-MANDIR     = $(PREFIX)/man
+MANDIR     = $(UPREFIX)/man
 
 # Where to put internal binaries and plugin repository
-LIBDIR     = $(PREFIX)/lib
+LIBDIR     = $(DATADIR)
 
 # Server only - Output directory
-HTMLDIR    = $(PREFIX)/var/www
-CGIDIR     = $(HTMLDIR)/cgi
+HTMLDIR    = $(PREFIX)/www/data/munin
+CGIDIR     = $(PREFIX)/www/cgi-bin
 
 # Client only - Where to put RRD files and other intenal data
-DBDIR      = $(DESTDIR)/var/opt/munin
+DBDIR      = $(PREFIX)/var/munin
 
 # Client only - Where plugins should put their states. Must be writable by
 # group "munin", and should be preserved between reboots
 PLUGSTATE  = $(DBDIR)/plugin-state
 
 # Where Munin should place its logs.
-LOGDIR     = $(DESTDIR)/var/log/munin
+LOGDIR     = /var/log/munin-main
 
 # Location of PID files and other statefiles. On the server, must be
 # writable by the user "munin".
-STATEDIR   = $(DESTDIR)/var/run/munin
+STATEDIR   = /var/run/munin
 
 # The perl interpreter to use
-PERL       = $(shell which perl)
+# Passed in from FreeBSD port Makefile.
 
 # The python interpreter to use (used by some plugins)
 PYTHON     = /usr/bin/env python
 
 # Server only - Where to install the perl libraries
-PERLLIB    = $(DESTDIR)$(shell $(PERL) -V:sitelib | cut -d= -f2 | sed "s/[\';]//g")
+PERLLIB    = $(shell $(PERL) -V:sitelib | cut -d= -f2 | sed "s/[\';]//g")
 
 # Client only - Install plugins for this architecture
 OSTYPE     = $(shell uname | tr '[A-Z]' '[a-z]')
@@ -72,9 +76,8 @@
 PLUGINUSER = nobody
 
 # Which command to use to check if the USER and GROUP to run Munin as, exists.
-GETENT = $(shell which getent || which true 2>/dev/null)
-CHECKUSER  = $(shell $(GETENT) passwd $(USER) >/dev/null 2>/dev/null || (echo "echo User $(USER) nonexistant. Create the user and retry; exit 2"))
-CHECKGROUP = $(shell $(GETENT) group $(GROUP) >/dev/null 2>/dev/null || (echo "echo Group $(GROUP) nonexistant. Create the group and retry; exit 2"))
+CHECKUSER:= $(shell grep $(USER) /etc/passwd >/dev/null 2>/dev/null || (echo "echo User $(USER) nonexistant. Create the user and retry; exit 2"))
+CHECKGROUP:= $(shell grep $(GROUP) /etc/group >/dev/null 2>/dev/null || (echo "echo Group $(GROUP) nonexistant. Create the group and retry; exit 2"))
 
 CHOWN      = chown
 CHMOD      = chmod
