--- munin-1.0.0pre3.orig/Makefile.config	Sun Feb  1 22:05:52 2004
+++ munin-1.0.0pre3/Makefile.config	Sat Feb  7 12:48:23 2004
@@ -7,42 +7,46 @@
 #
 # the base of the Munin installation.
 # 
-PREFIX     = $(DESTDIR)/opt/munin
+ifdef PREFIX
+UPREFIX=$(PREFIX)
+else
+UPREFIX=/usr
+endif
 
 # Where Munin keeps its configurations (server.conf, client.conf, ++)
-CONFDIR    = $(DESTDIR)/etc/opt/munin
+CONFDIR    = $(PREFIX)/etc/munin
 
 # Server only - where to put munin-cron
-BINDIR     = $(PREFIX)/bin
+BINDIR     = $(UPREFIX)/bin
 
 # Client only - where to put munin-node, munin-node-configure, and munin-run
-SBINDIR    = $(PREFIX)/sbin
+SBINDIR    = $(UPREFIX)/sbin
 
 # Where to put text and html documentation
-DOCDIR     = $(PREFIX)/doc
+DOCDIR     = $(UPREFIX)/doc
 
 # Where to put man pages
-MANDIR     = $(PREFIX)/man
+MANDIR     = $(UPREFIX)/man
 
 # Where to put internal binaries and plugin repository
-LIBDIR     = $(PREFIX)/lib
+LIBDIR     = ${DATADIR}
 
 # Server only - Output directory
-HTMLDIR    = $(PREFIX)/var/www
+HTMLDIR    = $(PREFIX)/www/data/munin
 
 # Client only - Where to put RRD files and other intenal data
-DBDIR      = $(DESTDIR)/var/opt/munin
+DBDIR      = $(PREFIX)/var/munin
 
 # Client only - Where plugins should put their states. Must be writable by
 # group "munin", and should be preserved between reboots
 PLUGSTATE  = $(DBDIR)/plugin-state
 
 # Where Munin should place its logs.
-LOGDIR     = $(DESTDIR)/var/log/munin
+LOGDIR     = /var/log
 
 # Location of PID files and other statefiles. On the server, must be
 # writable by the user "munin".
-STATEDIR   = $(DESTDIR)/var/run/munin
+STATEDIR   = /var/run/munin
 
 # The perl interpreter to use
 PERL       = $(shell which perl)
@@ -65,9 +69,8 @@
 GROUP      = munin
 
 # Which command to use to check if the USER and GROUP to run Munin as, exists.
-GETENT = $(shell which getent || which true 2>/dev/null)
-CHECKUSER  = $(shell $(GETENT) passwd $(USER) >/dev/null 2>/dev/null || (echo "echo User $(USER) nonexistant. Create the user and retry; exit 2"))
-CHECKGROUP = $(shell $(GETENT) group $(GROUP) >/dev/null 2>/dev/null || (echo "echo Group $(GROUP) nonexistant. Create the group and retry; exit 2"))
+CHECKUSER:= $(shell grep $(USER) /etc/passwd >/dev/null 2>/dev/null || (echo "echo User $(USER) nonexistant. Create the user and retry; exit 2"))
+CHECKGROUP:= $(shell grep $(GROUP) /etc/group >/dev/null 2>/dev/null || (echo "echo Group $(GROUP) nonexistant. Create the group and retry; exit 2"))
 
 CHOWN      = chown
 CHMOD      = chmod
