<TMPL_INCLUDE NAME="partial/head.tmpl"><!-- -*- HTML -*- -->
<body>
 <div id="header">
	<h1><a href="<TMPL_VAR NAME="R_PATH">"><span class="logo"></span></a> <span class="currentpage">Overview</span></h1>
 </div>
 <div id="main">
 <TMPL_INCLUDE NAME="partial/navigation.tmpl">
 <div id="content">
	<h2><a name="content">Overview</a></h2>
	<ul class="groupview">
	<TMPL_LOOP NAME="GROUPS"><TMPL_UNLESS NAME="MULTIGRAPH">
		<li <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
		<TMPL_IF NAME="NCATEGORIES"><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></span>
		<TMPL_IF NAME="COMPARE"> :: [ 
          <a href="<TMPL_VAR NAME="NAME">/comparison-day.html">day</a> 
          <a href="<TMPL_VAR NAME="NAME">/comparison-week.html">week</a> 
          <a href="<TMPL_VAR NAME="NAME">/comparison-month.html">month</a> 
          <a href="<TMPL_VAR NAME="NAME">/comparison-year.html">year</a>&nbsp;]</TMPL_IF>
        <TMPL_IF NAME="NCATEGORIES">[ <TMPL_LOOP NAME="CATEGORIES">
          <a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></TMPL_LOOP>&nbsp]</TMPL_IF>
		<ul>
		<TMPL_LOOP NAME="GROUPS"><TMPL_UNLESS NAME="MULTIGRAPH">
			<li <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
			<TMPL_IF NAME="NCATEGORIES"><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></span>
			<TMPL_IF NAME="COMPARE"> :: [ 
	          <a href="<TMPL_VAR NAME="NAME">/comparison-day.html">day</a> 
        	  <a href="<TMPL_VAR NAME="NAME">/comparison-week.html">week</a> 
    	      <a href="<TMPL_VAR NAME="NAME">/comparison-month.html">month</a> 
	          <a href="<TMPL_VAR NAME="NAME">/comparison-year.html">year</a>&nbsp;]</TMPL_IF>
    	    <TMPL_IF NAME="NCATEGORIES">[ <TMPL_LOOP NAME="CATEGORIES">
	          <a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>&nbsp;</TMPL_LOOP>]</TMPL_IF>
			<ul>
			<TMPL_LOOP NAME="GROUPS"><TMPL_UNLESS NAME="MULTIGRAPH">
				<li <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
				<TMPL_IF NAME="NCATEGORIES"><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></span>
				<TMPL_IF NAME="COMPARE"> :: [ 
		          <a href="<TMPL_VAR NAME="NAME">/comparison-day.html">day</a> 
       			  <a href="<TMPL_VAR NAME="NAME">/comparison-week.html">week</a> 
	    	      <a href="<TMPL_VAR NAME="NAME">/comparison-month.html">month</a> 
       			  <a href="<TMPL_VAR NAME="NAME">/comparison-year.html">year</a>&nbsp;]</TMPL_IF>
	        	<TMPL_IF NAME="NCATEGORIES">[ <TMPL_LOOP NAME="CATEGORIES">
  	        	  <a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>&nbsp;</TMPL_LOOP>]</TMPL_IF>
				<ul>
				<TMPL_LOOP NAME="GROUPS"><TMPL_UNLESS NAME="MULTIGRAPH">
					<li <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
					<TMPL_IF NAME="NCATEGORIES"><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></span>
					<TMPL_IF NAME="COMPARE"> :: [ 
			          <a href="<TMPL_VAR NAME="NAME">/comparison-day.html">day</a> 
			          <a href="<TMPL_VAR NAME="NAME">/comparison-week.html">week</a> 
			          <a href="<TMPL_VAR NAME="NAME">/comparison-month.html">month</a> 
			          <a href="<TMPL_VAR NAME="NAME">/comparison-year.html">year</a>&nbsp;]</TMPL_IF>
			        <TMPL_IF NAME="NCATEGORIES">[ <TMPL_LOOP NAME="CATEGORIES">
			          <a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></TMPL_LOOP>&nbsp;]</TMPL_IF>
			        </li>
				</TMPL_UNLESS></TMPL_LOOP>
			</TMPL_UNLESS></TMPL_LOOP>
			</ul>	
			</li>	
		</TMPL_UNLESS></TMPL_LOOP>
		</ul>
	</TMPL_UNLESS></TMPL_LOOP>
	</ul>
	<div class="contentpusher"></div>
 </div>
 </div>
 <TMPL_INCLUDE NAME="partial/footer.tmpl">
</body>
</html>
