Source: munin
Section: net
Priority: optional
Maintainer: Munin Debian Maintainers <munin-deb-maint@linpro.no>
Uploaders: Tore Anderson <tore@debian.org>, Dagfinn Ilmari Mannsaker <ilmari@ilmari.org>, Loic Dachary (OuoU) <loic@debian.org>, Matthias Schmitz <matthias@sigxcpu.org>, Holger Levsen <holger@debian.org>, Stig Sandbeck Mathisen <ssm@debian.org>, Tom Feiner <feiner.tom@gmail.com>
Build-Depends-Indep: perl, htmldoc, html2text, default-jdk
Build-Depends: debhelper (>=5.0.42), quilt
Standards-Version: 3.9.1
Homepage: http://munin-monitoring.org
Vcs-svn:  svn://munin.projects.linpro.no/munin/
Vcs-Browser: http://munin.projects.linpro.no/browser

Package: munin-node
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libnet-server-perl, procps, adduser, lsb-base (>= 3.2-4), gawk, munin-common (= ${binary:Version})
Replaces: munin-plugins-extra
Recommends: libnet-snmp-perl
Suggests: munin, munin-plugins-extra, munin-java-plugins, libwww-perl, liblwp-useragent-determined-perl, libnet-irc-perl, mysql-client, smartmontools (>= 5.37-6~bpo40+1), acpi | lm-sensors, python, ruby, ethtool, libdbd-pg-perl,libdbd-mysql-perl,libcache-cache-perl, net-tools, hdparm, libcrypt-ssleay-perl, libtext-csv-xs-perl, libxml-simple-perl, logtail, libnet-ssleay-perl
Description: network-wide graphing framework (node)
 Munin is a highly flexible and powerful solution used to create graphs of
 virtually everything imaginable throughout your network, while still
 maintaining a rattling ease of installation and configuration.
 .
 This package contains the daemon for the nodes being monitored.  You should
 install it on all the nodes in your network. It will know how to extract all
 sorts of data from the node it runs on, and will wait for the gatherer to
 request this data for further processing.
 .
 It includes a range of plugins capable of extracting common values such as cpu
 usage, network usage, load average, and so on. Creating your own plugins which
 are capable of extracting other system-specific values is very easy, and is
 often done in a matter of minutes. You can also create plugins which relay
 information from other devices in your network that can't run Munin, such as a
 switch or a server running another operating system, by using SNMP or similar
 technology.
 .
 Munin is written in Perl, and relies heavily on Tobi Oetiker's excellent
 RRDtool. To see a real example of Munin in action, you can follow a link
 from <http://munin.projects.linpro.no/> to a live installation.

Package: munin-plugins-extra
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, munin-node
Replaces: munin-node (<< 1.4.0-1)
Suggests: libnet-netmask-perl, python, libnet-telnet-perl
Description: network-wide graphing framework (user contributed plugins for node)
 Munin is a highly flexible and powerful solution used to create graphs of
 virtually everything imaginable throughout your network, while still
 maintaining a rattling ease of installation and configuration.
 .
 This package contains unsupported plugins for the Munin node, contributed by
 various users of Munin. 
 .
 Munin is written in Perl, and relies heavily on Tobi Oetiker's excellent
 RRDtool. To see a real example of Munin in action, you can follow a link
 from <http://munin.projects.linpro.no/> to a live installation.

Package: munin-java-plugins
Architecture: all
Depends: ${misc:Depends}, default-jre-headless | java6-runtime-headless | java5-runtime-headless | java2-runtime-headless 
Suggests: munin, munin-node
Description: network-wide graphing framework (java plugins for node)
 Munin is a highly flexible and powerful solution used to create graphs of
 virtually everything imaginable throughout your network, while still
 maintaining a rattling ease of installation and configuration.
 .
 This package contains the java based plugins that are used by munin-node to 
 monitor Java Management Extensions (JMX). 
 .
 Munin is written in Perl, and relies heavily on Tobi Oetiker's excellent
 RRDtool. To see a real example of Munin in action, you can follow a link
 from <http://munin.projects.linpro.no/> to a live installation.

Package: munin
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, perl-modules | libparse-recdescent-perl, librrds-perl (>= 1.2), libhtml-template-perl, libdigest-md5-perl, libtime-hires-perl, libstorable-perl, rrdtool, adduser, liblog-log4perl-perl, ttf-dejavu, munin-common (= ${binary:Version}), cron
Recommends: munin-node, libdate-manip-perl
Suggests: www-browser, httpd, libnet-ssleay-perl
Description: network-wide graphing framework (grapher/gatherer)
 Munin is a highly flexible and powerful solution used to create graphs of
 virtually everything imaginable throughout your network, while still
 maintaining a rattling ease of installation and configuration.
 .
 This package contains the grapher/gatherer. You will only need one instance of
 it in your network. It will periodically poll all the nodes in your network
 it's aware of for data, which it in turn will use to create graphs and HTML
 pages, suitable for viewing with your graphical web browser of choice.
 .
 It is also able to alert you if any value is outside of a preset boundary,
 useful if you want to be alerted if a filesystem is about to grow full, for
 instance.  You can do this by making Munin run an arbitrary command when you
 need to be alert it, or make use of the intrinsic Nagios support.
 .
 Munin is written in Perl, and relies heavily on Tobi Oetiker's excellent
 RRDtool. To see a real example of Munin in action, you can follow a link
 from <http://munin.projects.linpro.no/> to a live installation.

Package: munin-common
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, perl-modules | libparse-recdescent-perl
Suggests: munin, munin-node
Description: network-wide graphing framework (common)
 Munin is a highly flexible and powerful solution used to create graphs of
 virtually everything imaginable throughout your network, while still
 maintaining a rattling ease of installation and configuration.
 .
 This package contains the common perl modules that are used by both munin
 and munin-node.
 .
 Munin is written in Perl, and relies heavily on Tobi Oetiker's excellent
 RRDtool. To see a real example of Munin in action, you can follow a link
 from <http://munin.projects.linpro.no/> to a live installation.


