[Unit]
Description=Munin Node - asynchronous proxy
Documentation=man:munin-asyncd http://guide.munin-monitoring.org/en/stable-2.0/reference/munin-asyncd.html
Wants=munin-node.service
After=munin-node.service

[Service]
Type=simple
Restart=always
User=munin-async
ExecStart=/usr/share/munin/munin-asyncd
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
