[Unit]
Description=Munin Node
Documentation=man:munin-node(1) http://guide.munin-monitoring.org/en/latest/reference/munin-node.html
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/munin-node
Type=forking
Restart=always
ExecStart=/usr/bin/munin-node $DAEMON_ARGS
PIDFile=/run/munin-node.pid
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
