[Unit]
Description=Munin Node
Documentation=man:munin-node(1) http://munin.readthedocs.org/en/latest/reference/munin-node.html

[Service]
EnvironmentFile=-/etc/default/munin-node
Type=forking
Restart=always
ExecStart=/usr/bin/munin-node $DAEMON_ARGS
PIDFile=/run/munin/munin-node.pid
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
