[Unit]
Description=Munin (rundir)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/install -d -o munin -g root -m 755 /run/munin

[Install]
WantedBy=multi-user.target
Before=cron.service
