#
# OpenSSL configuration file.
#

# Establish working directory.
dir = .

[ ca ]
default_ca = CA_default

[ CA_default ]
serial        = $dir/CA/serial
database      = $dir/CA/index.txt
new_certs_dir = $dir/CA/newcerts
certificate   = $dir/CA/ca_cert.pem
private_key   = $dir/CA/private/ca_key.pem
default_md    = default
email_in_dn   = no
policy        = policy_match

[ policy_match ]
countryName            = match
stateOrProvinceName    = match
organizationName       = match
organizationalUnitName = optional
commonName             = supplied
emailAddress           = optional

[ req ]
default_bits       = 2048
string_mask        = utf8only
distinguished_name = req_distinguished_name
prompt             = no
req_extensions     = v3_req

[ req_distinguished_name ]

[ v3_ca ]
basicConstraints       = CA:TRUE
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always

[ v3_req ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
