/* Form elements */
input,
button,
select {
	@include border-radius(2px);
	@include box-sizing(border-box);
	@include transition-duration(150ms);
}

input[type="text"],
input[type="number"] {
	padding: 4px 12px;
	height: 30px;
	max-width: 100%;
	line-height: 1.4;
	border: 1px solid #BFBFBF;
	background-color: #fff;
	color: #555;
	@include box-shadow(inset 0px 1px 2px -1px rgba(0, 0, 0, 0.2));

	&:focus {
		border-color: #a5a5a5;
		outline: 0;
	}

	&.input-compact {
		padding: 0 5px;
		height: 28px;
	}
}

input[type="submit"],
input[type="button"],
button,
select {
	color: #666666;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	padding: 7px 17px;
	border: 1px solid #BFBFBF;
	background-color: #F5F5F5;
	cursor: pointer;

	&:hover {
		background-color: lighten(#F5F5F5, 2);
		@include box-shadow(0 1px 7px -2px rgba(0,0,0,0.3));
	}
	&:active {
		outline: none;
		background-color: darken(#F5F5F5, 5);
		@include box-shadow(inset 0 1px 0 0 rgba(0,0,0,0.2));
	}

	i.mdi {
		margin: 0 3px 0 -6px;
		vertical-align: bottom;
		font-size: 17px;
		line-height: 14px;
	}

	&.button-primary, &[type="submit"] {
		color: #fff;
		border-color: darken($buttons-color, 10);
		background-color: $buttons-color;

		&:hover {
			background-color: lighten($buttons-color, 4);
			@include box-shadow(0 1px 7px -1px rgba(0,0,0,0.4));
		}
		&:active {
			background-color: darken($buttons-color, 5);
			@include box-shadow(inset 0 1px 0 0 rgba(0,0,0,0.2));
		}
	}

	&+button {
		margin-left: 5px;
	}

	&.button-small {
		padding: 5px 11px;
	}
}

select {
	padding: 5px 6px;

	&:active {
		background-color: #F5F5F5;
		@include box-shadow(none);
	}
}

.buttons-wrap {
	cursor: default;
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: right;
}
