#! /bin/sh
#
# munin-node	Control the Munin Node Server
#
# chkconfig: 2345 90 10
# description: munin node agents
# processname: munin-node
# config: /etc/munin/munin-node.conf
# pidfile: /var/run/muin-node.pid

# Source function library.
. /etc/rc.d/init.d/functions

RETVAL=0
BASENAME=munin-node

# See how we were called.
case "$1" in
  start)
	echo -n "Starting Munin Node: "
	daemon /usr/sbin/munin-node
	RETVAL=$?
	[ $RETVAL -eq 0 ] && touch /var/lock/subsys/$BASENAME
	echo
	;;
  stop)
	echo -n "Stopping Munin Node: "
	killproc /usr/sbin/munin-node
	RETVAL=$?
	[ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/$BASENAME
	echo
	;;
  status)
	status /usr/sbin/munin-node
	RETVAL=$?
	;;
  restart|reload)
  	$0 stop
	$0 start
	RETVAL=$?
	;;
  *)
	echo "Usage: munin-node {start|stop|status|restart}"
	exit 1
esac

exit $RETVAL
