#! /bin/sh
#
# munin-node	Control the Munin Node Server (formerly Linpro RRD client)
#
# chkconfig: 2345 90 10
# description: munin node agents
# processname: munin-node
# config: /etc/munin/munin-node.conf
# pidfile: /var/run/muin-node.pid

# Source function library.
. /etc/rc.d/init.d/functions

RETVAL=0
PROCNAME=munin-node

mkdir -p /var/run/munin 2>/dev/null
chown munin /var/run/munin

# See how we were called.
case "$1" in
  start)
	echo -n "Starting Munin Node: "
	/usr/sbin/munin-node &
	sleep 1
	pkill -0 $PROCNAME
	RETVAL=$?
	if [ $RETVAL -eq 0 ]
	then
		echo_success
		touch /var/lock/subsys/munin-node
	else
		echo_failure
	fi
	echo
	;;
  stop)
	echo -n "Stopping Munin Node agents: "
	kill $(cat /var/run/munin/munin-node.pid)
	RETVAL=$?
	if [ $RETVAL -eq 0 ]
	then
		echo_success
		rm -f /var/lock/subsys/munin-node
	else
		echo_failure
	fi
	echo
	;;
  status)
	status $PROCNAME
	RETVAL=$?
	;;
  restart|reload)
  	$0 stop
	$0 start
	RETVAL=$?
	;;
  *)
	echo "Usage: munin-node {start|stop|status|restart}"
	exit 1
esac

exit $RETVAL
