# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Fetch the deps
        run: sudo dev_scripts/deps
        
      - name: Devel-Cover-Report-Coveralls: install dh-make-perl
        run: sudo apt-get install -y dh-make-perl
      - name: Devel-Cover-Report-Coveralls: fetch
        run: cd /tmp && wget https://cpan.metacpan.org/authors/id/M/MI/MIKIHOSHI/Devel-Cover-Report-Coveralls-0.13.tar.gz
      - name: Devel-Cover-Report-Coveralls: uncompress
        run: cd /tmp && tar zxvf Devel-Cover-Report-Coveralls-0.13.tar.gz
      - name: Devel-Cover-Report-Coveralls: create the package
        run: cd /tmp && dh-make-perl make --build Devel-Cover-Report-Coveralls-0.13
      - name: Devel-Cover-Report-Coveralls: install the package
        run: cd /tmp && sudo dpkg -i libdevel-cover-report-coveralls-perl*.deb
      - name: Devel-Cover-Report-Coveralls: install any needed deps
        run: sudo apt-get install -yf

      - name: Setup the mock hostname
        run: echo "127.0.0.1	testing.acme.com" | sudo tee -a /etc/hosts

      - name: Testing
        run: make test
